# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Database files
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# Process IDs
.pids/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/
.vscode/
.idea/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db
